* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
   margin: 2rem 2rem 0; 
}

.product-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.product-section__image {
  width: 100%; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 600px; 

}

