$color-black: #000000;
$color-white: #ffffff;
$color-dark-green: #064420;
$color-light-green: #a8bf93;

// Dark green variations
$color-dark-green-light: #0a5c2a;
$color-dark-green-dark: #042f16;

// Light green variations
$color-light-green-light: #d0e0c0;
$color-light-green-dark: #7ba76c;
