.shop-section__filters {
    display: flex;
    margin-bottom: 1.5rem;
}

.shop-section {
    min-height: 50vh;
}

.shop-section__search {
    padding: 10px;
    font-size: 1rem;
}

.shop-section__category-filter {
    padding: 10px;
    font-size: 1rem;
}

.shop-section__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.shop-card {
    background-color: #ffffff;
    border: 1px solid #00570581;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: 0.4s;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.shop-card:hover {
    transform: translateY(-4px);
    border-color: #213d22;
}

.shop-card__image {
    width: 100%;
    max-width: 320px;
    height: 220px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.shop-card__name {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

.shop-card__price {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.shop-card__quantity {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.shop-card__cart-btn,
.shop-card__remove-btn {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

.shop-card__cart-btn {
    background-color: #68a66b;
}

.shop-card__remove-btn {
    background-color: #465d2e;
}

.shop-card__description {
    min-height: 110px;
}

.shop-card__name {
    min-height: 80px;
}

.no-results {
    font-size: 1.3rem;
}

#shop {
    scroll-margin-top: 150px;
}
